{% extends "catalog/home.html" %}

{% block content %}
<div class="col-lg-9">

    <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
    </div>
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action active">
          Authors
        </button>
        {% for author in author_list %}
        <a href="{{ author.get_absolute_url }}" class="list-group-item list-group-item-action">{{author}}</a>
        {% endfor %}
      </div>
  </div>
  <!-- /.col-lg-9 -->

{% endblock %}