{% extends "catalog/base.html" %}

{% block content %}
  <img src="{{ book.cover.url }}" alt="img">
  
  <h1>Title: {{ book.title }}</h1>
  <p><strong>Subtitle:</strong> {{ book.subtitle }}</p>  
  <p><strong>Author:</strong> {% for author in book.authors.all %}<a href="{{ author.get_absolute_url }}">{{ author }}{% if not forloop.last %}, {% endif %}{% endfor %}</a></p> <!-- author detail link not yet defined -->
  
  <p><strong>Summary:</strong> {{ book.publisher }}</p>
  <p><strong>ISBN:</strong> {{ book.isbn }}</p> 
  <p><strong>Language:</strong> {{ book.language }}</p>  
  <p><strong>Genre:</strong> {% for genre in book.genre.all %} {{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>  
  <p><strong>Description:</strong><p></p>{{ book.description }}</p>
  <div style="margin-left:20px;margin-top:20px">
    <h4>Copies</h4>

    {% for book_instance in book.bookinstance_set.all %}
      <hr>
      <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">{{ copy.get_status_display }}</p>
      {% if copy.status != 'a' %}
      <p><strong>{{copy.status}}</strong></p>
        <p><strong>Price:</strong> {{book_instance.price}} USD</p>
      {% endif %}
      <p><strong>Imprint:</strong> {{book_instance.imprint}}</p>
      <p class="text-muted"><strong>Id:</strong> {{book_instance.id}}</p>
    {% endfor %}
  </div>
{% endblock %}