{% extends "catalog/home.html" %}
{% load sidebar_tags %}
{% block content %}

      <div class="col-lg-9">

        <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">

        </div>

        <div class="row">
          {% for book in book_list %}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="{{book.get_absolute_url}}"><img class="card-img-top" src="{{ book.cover.url }}" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="{{book.get_absolute_url}}">{{ book.title }}</a>
                </h4>
                {% for book_instance in book.bookinstance_set.all %}
                <h5>${{ book_instance.price}}</h5>
                {% endfor %}
                <p class="card-text">{{book.description|truncatewords:10}}</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

  </div>
{% endblock %}